@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background-color: #A3C4BC;
    --header-color: #7EA8BE;
    --accent-color: #28536B;
    --accent-color2: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

#content {
    font-family: Nunito, Inter, sans-serif;
}

hr {
    margin-bottom: 25px;
}

header,
footer {
    background-color: var(--header-color);
    text-align: center;
    padding: 10px;
    border: inset;
    max-width: 70%;
    margin: 0 auto;
}

footer p {
    padding: 0px;
    text-indent: 0px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
    padding-inline-start: 0px;
    padding-top: 10px;
}

nav ul.open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li {
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: var(--header-color);
    transition: 0.15s;
    cursor: pointer;
}

nav {
    padding-bottom: 15px;
    border: inset;
    border-radius: 10px;
    background-color: var(--accent-color);
}

.active {
    text-decoration: underline;
    color: white;
}

.active a:hover {
    color: white;
}

#menu-button {
    cursor: pointer;
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
}

#menu-button:hover {
    background-color: var(--background-color);
    color: black;
}

#menu-button::before {
    content: "Open";
}

#menu-button.open::before {
    content: "Close";
}

main {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: repeat(4, 1fr);
    color: var(--accent-color2);
}

#icon {
    width: 25px;
    height: 25px;
}

#currentEvents,
#weatherCard,
#adverts {
    background-color: var(--accent-color);
    border-style: outset;
    grid-column: 2;
}

#currentEvents {
    grid-row: 2;
}

#weatherCard {
    grid-row: 3;
}

#adverts {
    grid-row: 4;
}

.hero {
    grid-column: 2;
    position: relative;
}

main button {
    padding: 20px;
    color: black;
    background-color: var(--header-color);
    font-weight: bold;
    font-family: Nunito, sans-serif;
    position: absolute;
    left: 50px;
    top: 25px;
    opacity: 0.75;
}

main button:hover {
    background-color: var(--accent-color);
}

#hero-image {
    width: 100%;
    aspect-ratio: 15/5;
}