@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Open+Sans:wght@300&display=swap');
/* colors: rgba(37, 37, 226, 0.7), rgb(238, 187, 92), rgb(31, 196, 218) */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lightgrey;
}

main {
    width: 700px;
    grid-template-columns: repeat(3, 1fr);
}

header {
    background-color: rgba(37, 37, 226, 0.7);
    width: 700px;
    grid-column: 2;
}

nav {
    background-color: rgb(238, 187, 92);
    border-style: solid;
    border-width: .4em;
    width: 700px;
    grid-column: 2;
}

nav,
a {
    text-decoration: none;
    color: black;
    font-family: Montserrat, "Open Sans";
    font-size: 1.15em;
    cursor: pointer;
    outline: none;
    transition: 0.15s;
}

nav,
a:hover {
    color: rgb(31, 196, 218);
}

img {
    float: left;
    padding: 50px 25px 50px 100px;
}

h1 {
    padding: 100px;
    font-family: Montserrat, "Open Sans";
}

ul {
    list-style-type: none;
    font-family: Montserrat, "Open Sans";
}

h2 {
    padding-top: 25px;
    font-family: Montserrat, "Open Sans";
}

h3 {
    background-color: rgba(37, 37, 226, 0.7);
    font-family: Montserrat, "Open Sans";
}

.card {
    border-style: outset;
    font-family: Montserrat, "Open Sans";
    grid-column: 2;
}

footer {
    border-style: outset;
    width: 700px;
    grid-column: 2;
    background-color: rgba(37, 37, 226, 0.7);
    font-size: 1.15em;
    font-family: Montserrat, "Open Sans";
}

hr {
    margin-bottom: 20px;
}