@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&family=Open+Sans:wght@300&display=swap');
/* colors: rgba(37, 37, 226, 0.7), rgb(238, 187, 92), rgb(31, 196, 218) */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lightgrey;
}

header {
    background-color: rgba(37, 37, 226, 0.7);
    text-align: center;
}

nav {
    background-color: rgb(238, 187, 92);
    border-style: solid;
    border-width: .4em;
}

li,
a {
    padding: 10px;
}

img,
h1 {
    margin: 0 auto;
    display: block;
    padding: 10px;
}

nav,
a {
    text-decoration: none;
    color: black;
    font-family: Montserrat, "Open Sans";
    font-size: 1.15em;
    cursor: pointer;
    outline: none;
    transition: 0.15s;
}

nav,
a:hover {
    color: rgb(31, 196, 218);
}

h1 {
    font-family: Montserrat, "Open Sans";
}

.card,
ul {
    list-style-type: none;
}

h2 {
    padding-top: 25px;
    font-family: Montserrat, "Open Sans";
}

h3 {
    background-color: rgba(37, 37, 226, 0.7);
    font-family: Montserrat, "Open Sans";
}

.card {
    border-style: outset;
    font-family: Montserrat, "Open Sans";
    margin: 10px;
    padding: 10px;
}

footer {
    border-style: outset;
    background-color: rgba(37, 37, 226, 0.7);
    font-size: 1.15em;
    font-family: Montserrat, "Open Sans";
    padding: 10px;
}

hr {
    margin: 20px;
}

@media screen and (min-width: 650px) {

    body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    header,
    main,
    nav,
    footer {
        grid-column: 2/5;
    }

    img {
        float: left;
        padding: 50px 25px 50px 100px;
    }

    h1 {
        padding: 100px;
    }
}